 <section class="container-fluid" id="get_email" data-ng-controller="emilCtrl">
		      <div class="row">
			      <div class="col-sm-12">
				      <h3>Get Exclusive news and offers</h3>
					   <form class="form-group center">
							      <input data-ng model="email" class="form-control" type="email" placeholder="Enter Your Email Address" id="email_input">
								  <button class="btn btn-primary " id="sign_in" type="submit" ng-click="submit()">
								       Sign Up
								  </button>
					   </form>
				  </div>
			  </div>
		      
		  </section>