<section class="container" >
		      <div class="row"id="shop" >
			     <div class="col-sm-3">
				       <h3><a href="#">Women Fashion</a></h3>
				      <ul>
						  <li><a href="#">Dress</a></li>
						  <li><a href="#">Tops</a></li>
						  <li><a href="#">Shoes & Boots</a></li>
						  <li><a href="#">Cote & Jeckets</a></li>
						  <li><a href="#">Jeans</a></li>
						  <li><a href="#">Nightwear & Slippers</a></li>
					  </ul>
				 </div><!--end of small col-->
				 <div class="col-sm-3">
				       <h3><a href="#">Men Fashion</a></h3>
				      <ul>
						  <li><a href="#">Shirts</a></li>
						  <li><a href="#">Jeans</a></li>
						  <li><a href="#">Shoes</a></li>
						  <li><a href="#">Underwear</a></li>
						  <li><a href="#">Jeans</a></li>
						  <li><a href="#">Sports & fitness</a></li>
					  </ul>
				 </div><!--end of small col-->
				 <div class="col-sm-3">
				       <h3><a href="#">Child Fashion</a></h3>
				      <ul>
						  <li><a href="#">Girl Baby</a></li>
						  <li><a href="#">Boy Baby</a></li>
						  <li><a href="#">Kids Toys</a></li>
						  <li><a href="#">Accessories</a></li>
						  
					  </ul>
				 </div><!--end of small col-->
				 <div class="col-sm-3">
				     <img src="image/women_dress1.jpg" src="dress" class="shop_img" />
				 </div><!--end of small col-->
			  </div><!--end of row-->
		  </section><!--end of section-->