#main_slide{
	  margin:0 auto;
}
.contain{
	 width:960px;
	 margin:0 auto;
}
.header{
	  
	
	   background-color:#ff9900;
	   color:black;
	  
	
	   padding:20px 0px;
	   
}
.nav{
	 background-color:#ff9900;
	  padding:20px 0px;
}
.nav ul{
	   list-style:none;
}
.nav ul li{ float:left;
         margin:0px 0px 0px 5px;}
 
button{
 background-color:#ff9900;
 margin:10px;
 }
 .submit_a{
	 color:black;
	 text-decoration:none;
	 width:200px;
 }
 .h5_a{
	 color:black;
	 text-decoration:none;
 }
 button:hover{background-color:gray;
              
			  }
.alert{color:red;}			  
			  